<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>CS-4173 project dgsCAPTCHA</title>
          <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

    </head>
    <body>
        <div class="page-header bg-dark">
           <h2 class="text-light">
              dgsCAPTCHA
           </h2>
        </div>

        <div class="row">
            <h3 class="d-flex justify-content-center">dgsCAPTCHA GRID:</h3>
        </div>

        <table class="table table-bordered d-flex justify-content-center" style="height: 100%; width: 100%; object-fit: contain;">
            <tbody>
        <tr>
            <td class="p-2 bd-highlight">
                <button type="button" style="width: 128px; height: 128px;">
                    <img style= "height: 100%; width: 100%; object-fit: contain;" 
                    src="https://th.bing.com/th/id/R.29914fdaf3c342e7692c64702080f87f?rik=3c9CKHVlVBi0vQ&riu=http%3a%2f%2f1.bp.blogspot.com%2f-zxhc-2_BO6U%2fT-Bc0zMJ7iI%2fAAAAAAAADGg%2fvvoYHLKDPDA%2fs1600%2f889.jpg&ehk=dKZHWQAaVjhf27PP8yvc1tlNZgELxtjf0i%2bmJcGiKH8%3d&risl=&pid=ImgRaw&r=0" alt="Place Holder" />
                </button>
            </td>
            <td class="p-2 bd-highlight">
                <button type="button" style="width: 128px; height: 128px;">
                    <img style= "height: 100%; width: 100%; object-fit: contain;" 
                    src="https://th.bing.com/th/id/R.29914fdaf3c342e7692c64702080f87f?rik=3c9CKHVlVBi0vQ&riu=http%3a%2f%2f1.bp.blogspot.com%2f-zxhc-2_BO6U%2fT-Bc0zMJ7iI%2fAAAAAAAADGg%2fvvoYHLKDPDA%2fs1600%2f889.jpg&ehk=dKZHWQAaVjhf27PP8yvc1tlNZgELxtjf0i%2bmJcGiKH8%3d&risl=&pid=ImgRaw&r=0" alt="Place Holder" />
                </button>
            </td>
            <td class="p-2 bd-highlight">
                <button type="button" style="width: 128px; height: 128px;">
                    <img style= "height: 100%; width: 100%; object-fit: contain;" 
                    src="https://th.bing.com/th/id/R.29914fdaf3c342e7692c64702080f87f?rik=3c9CKHVlVBi0vQ&riu=http%3a%2f%2f1.bp.blogspot.com%2f-zxhc-2_BO6U%2fT-Bc0zMJ7iI%2fAAAAAAAADGg%2fvvoYHLKDPDA%2fs1600%2f889.jpg&ehk=dKZHWQAaVjhf27PP8yvc1tlNZgELxtjf0i%2bmJcGiKH8%3d&risl=&pid=ImgRaw&r=0" alt="Place Holder" />
                </button>
            </td>
        </tr>
        <tr>
            <td class="p-2 bd-highlight">
                <button type="button" style="width: 128px; height: 128px;">
                    <img style= "height: 100%; width: 100%; object-fit: contain;" 
                    src="https://th.bing.com/th/id/R.29914fdaf3c342e7692c64702080f87f?rik=3c9CKHVlVBi0vQ&riu=http%3a%2f%2f1.bp.blogspot.com%2f-zxhc-2_BO6U%2fT-Bc0zMJ7iI%2fAAAAAAAADGg%2fvvoYHLKDPDA%2fs1600%2f889.jpg&ehk=dKZHWQAaVjhf27PP8yvc1tlNZgELxtjf0i%2bmJcGiKH8%3d&risl=&pid=ImgRaw&r=0" alt="Place Holder" />
                </button>
            </td>
            <td class="p-2 bd-highlight">
                <button type="button" style="width: 128px; height: 128px;">
                    <img style= "height: 100%; width: 100%; object-fit: contain;" 
                    src="https://th.bing.com/th/id/R.29914fdaf3c342e7692c64702080f87f?rik=3c9CKHVlVBi0vQ&riu=http%3a%2f%2f1.bp.blogspot.com%2f-zxhc-2_BO6U%2fT-Bc0zMJ7iI%2fAAAAAAAADGg%2fvvoYHLKDPDA%2fs1600%2f889.jpg&ehk=dKZHWQAaVjhf27PP8yvc1tlNZgELxtjf0i%2bmJcGiKH8%3d&risl=&pid=ImgRaw&r=0" alt="Place Holder" />
                </button>
            </td>
            <td class="p-2 bd-highlight">
                <button type="button" style="width: 128px; height: 128px;">
                    <img style= "height: 100%; width: 100%; object-fit: contain;" 
                    src="https://th.bing.com/th/id/R.29914fdaf3c342e7692c64702080f87f?rik=3c9CKHVlVBi0vQ&riu=http%3a%2f%2f1.bp.blogspot.com%2f-zxhc-2_BO6U%2fT-Bc0zMJ7iI%2fAAAAAAAADGg%2fvvoYHLKDPDA%2fs1600%2f889.jpg&ehk=dKZHWQAaVjhf27PP8yvc1tlNZgELxtjf0i%2bmJcGiKH8%3d&risl=&pid=ImgRaw&r=0" alt="Place Holder" />
                </button>
            </td>
        </tr>
            <tr>
            <td class="p-2 bd-highlight">
                <button type="button" style="width: 128px; height: 128px;">
                    <img style= "height: 100%; width: 100%; object-fit: contain;" 
                    src="https://th.bing.com/th/id/R.29914fdaf3c342e7692c64702080f87f?rik=3c9CKHVlVBi0vQ&riu=http%3a%2f%2f1.bp.blogspot.com%2f-zxhc-2_BO6U%2fT-Bc0zMJ7iI%2fAAAAAAAADGg%2fvvoYHLKDPDA%2fs1600%2f889.jpg&ehk=dKZHWQAaVjhf27PP8yvc1tlNZgELxtjf0i%2bmJcGiKH8%3d&risl=&pid=ImgRaw&r=0" alt="Place Holder" />
                </button>
            </td>
            <td class="p-2 bd-highlight">
                <button type="button" style="width: 128px; height: 128px;">
                    <img style= "height: 100%; width: 100%; object-fit: contain;" 
                    src="https://th.bing.com/th/id/R.29914fdaf3c342e7692c64702080f87f?rik=3c9CKHVlVBi0vQ&riu=http%3a%2f%2f1.bp.blogspot.com%2f-zxhc-2_BO6U%2fT-Bc0zMJ7iI%2fAAAAAAAADGg%2fvvoYHLKDPDA%2fs1600%2f889.jpg&ehk=dKZHWQAaVjhf27PP8yvc1tlNZgELxtjf0i%2bmJcGiKH8%3d&risl=&pid=ImgRaw&r=0" alt="Place Holder" />
                </button>
            </td>
            <td class="p-2 bd-highlight">
                <button type="button" style="width: 128px; height: 128px;">
                    <img style= "height: 100%; width: 100%; object-fit: contain;" 
                    src="https://th.bing.com/th/id/R.29914fdaf3c342e7692c64702080f87f?rik=3c9CKHVlVBi0vQ&riu=http%3a%2f%2f1.bp.blogspot.com%2f-zxhc-2_BO6U%2fT-Bc0zMJ7iI%2fAAAAAAAADGg%2fvvoYHLKDPDA%2fs1600%2f889.jpg&ehk=dKZHWQAaVjhf27PP8yvc1tlNZgELxtjf0i%2bmJcGiKH8%3d&risl=&pid=ImgRaw&r=0" alt="Place Holder" />
                </button>
            </td>
        </tr>
            </tbody>
        </table>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    </body>
</html>